@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: black;
    --blue: #2cf8ff;
    --off-white: #f1f3f4;
    --white: white;
    --green: #18ffb0;
    --light: #96a7a1;
    --almost-black: #051819;
}

html {
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    width: 100%;
}

article {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--black);
    font-family: DM Sans, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: visible;
    width: 100%;
}

main {
    width: 100%;
}

/* Normal state */
.nav_component {
    position: relative;
    flex-wrap: wrap;
    top: 30px;
    width: 100%;
    /* margin-top: 100px; */
    grid-column-gap: .625rem;
    grid-row-gap: .625rem;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(4, 19, 14, .5);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5rem;
    align-items: center;
    padding: .925rem;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 10000000000000000;

}

.sticky {
    background-color: rgba(4, 19, 14, .8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.nav_anchor-link.active {
    background-image: linear-gradient(to right, var(--blue), var(--green));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

section {
    padding-top: 100px;
}

.nav-bar {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-bar .nav-bar-logo img {
    width: 100%;
    max-width: 200px;
}

.nav-bar .nav-bar-right {
    display: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-bar .nav-bar-right p {
    color: var(--light);
}

.nav-bar .nav-bar-right .nav-bar-right-btn {
    grid-column-gap: .875rem;
    grid-row-gap: .875rem;
    background-color: #041718;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 3.75rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    display: flex;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}

.nav-bar .nav-bar-right .dot {
    background-color: var(--green);
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
}

.nav-bar .nav-bar-right .text-wrapper {
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    position: relative;
    display: flex;
}

.nav-bar .nav-bar-right .text {
    text-decoration: none;
    font-size: 0.85rem;
    color: var(--white);
    display: inline-block;
    animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.nav-bar .nav-bar-right .nav-bar-right-lang p {
    color: var(--white);
}

.nav-bar .nav-bar-right .nav-bar-right-lang p:after {
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
    padding-inline: 10px;
    font-size: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.section_home-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.home-header_gradient.bottom {
    opacity: .6;
    filter: blur(180px);
    margin-top: 10rem;
    top: 56%;
    bottom: auto;
    left: auto;
    right: 0%;
    z-index: -1;
}

.home-header_gradient {
    z-index: 5;
    background-color: var(--blue);
    filter: blur(200px);
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    display: block;
    position: absolute;
    top: -46%;
    bottom: auto;
    left: -13%;
    right: auto;
}

.padding-global {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    max-width: 1500px;
    margin-top: 90px;
    padding-bottom: 20px;
}

.home-left {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.home-header_image {
    z-index: 4;
    opacity: 1;
    mix-blend-mode: normal;
    display: block;
    position: relative;
    right: -.25rem;
    transform: rotate(-1deg);
    width: 100%;
    max-width: 600px;
}

.home-right {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 600px;
    gap: 20px;
}

.home-right p {
    background-image: linear-gradient(to right, var(--blue), var(--green));
    letter-spacing: .125rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: DM Sans, sans-serif;
    font-size: .875rem;
}

.home-right b {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    line-height: 60px;
}

.home-right span {
    color: rgba(255, 255, 255, .8);
    max-width: 27rem;
    font-size: 1.25rem;
    line-height: 25px;
}

.text-span {
    background-image: url(https://cdn.prod.website-files.com/65aa727d2cba3ce6160ccfb1/65c56be5f1ed1ce8144b939b_heart-green.svg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-button {
    color: #c6ffec;
    background-image: linear-gradient(98deg, rgba(2, 176, 155, .38), rgba(90, 137, 253, .18));
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 40rem;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem .5rem .5rem 2rem;
    font-size: 1.25rem;
    transition: all .5s;
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 350px;
    height: 70px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    box-shadow: 0;
}

.main-button:hover {
    box-shadow: 1px 0 20px var(--green);
}

.home-about_circle.is-header {
    z-index: 4;
    margin-bottom: 2rem;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.125rem;
    height: 8.125rem;
}

.home-about_circle.is-header.education-cirlce {
    z-index: 4;
    margin-bottom: 2rem;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 400px;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.125rem;
    height: 8.125rem;
}

.home-about_circle-text {
    z-index: 2;
    opacity: .8;
    width: 8.125rem;
    height: 8.125rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate360 15s linear infinite;
}

.home-about_circle-webflow {
    z-index: 2;
    width: 2.5rem;
    margin-left: 1px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.home-about_circle-blur {
    z-index: 1;
    background-color: var(--blue);
    opacity: .5;
    filter: blur(40px);
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav_component {
    margin-top: 100px;
    grid-column-gap: .625rem;
    grid-row-gap: .625rem;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(4, 19, 14, .5);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5rem;
    align-items: center;
    padding: .925rem;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}


.nav_link.w--current {
    background-image: linear-gradient(to right, var(--blue), var(--green));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
    font-weight: bold;
}

.nav_divider {
    background-color: rgba(255, 255, 255, .1);
    width: 1px;
    height: 1.5rem;
}

.nav_anchor-link {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    color: #fff;
    letter-spacing: .125rem;
    text-transform: uppercase;
    border: 1px rgba(255, 255, 255, .04);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1;
    transition: all .2s;
    display: flex;
    text-decoration: none;
}

.nav_anchor-icon {
    width: 1rem;
}

.nav_anchor-link:hover {
    background-image: linear-gradient(to right, var(--blue), var(--green));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-experience_gradient {
    background-color: var(--blue);
    filter: blur(100px);
    border-radius: 50%;
    width: 25rem;
    height: 7.5rem;
    position: absolute;
    z-index: -1;
}

.aboutMe {
    width: 100%;
    position: relative;
    padding-top: 50px;
}

.aboutMe article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    overflow-y: visible;
    height: 100%;
}

.aboutMe h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    font-weight: bold;
}

.dashedCircle {
    position: relative;
    margin-top: 50px;
}

.dashedCircle p {
    font-size: 3rem;
    font-weight: 500;
    color: var(--white);
    font-weight: bold;
    width: 100%;
    max-width: 700px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}

.aboutMe .aboutMe-circle1 {
    border: 2px dashed var(--white);
    opacity: .8;
    width: 25rem;
    height: 25rem;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateCircle 20s linear infinite;
}

.aboutMe .aboutMe-circle2 {
    border: 2px dashed var(--white);
    opacity: .8;
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateCircle 20s linear infinite;
}

@keyframes rotateCircle {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.button-skills {
    position: absolute;
    padding: 10px;
    border-radius: 4rem;
    color: #c6ffec;
    background-image: linear-gradient(98deg, rgba(2, 176, 155, 1), rgba(90, 137, 253, 1));
    z-index: 100000000;
    align-items: center;
    text-align: center;
}

.button-skills.first {
    top: -40px;
    width: 100%;
    left: 10px;
    max-width: 100px;
    align-items: center;
}

.button-skills.second {
    top: -50px;
    width: 100%;
    left: 400px;
    max-width: 200px;
    align-items: center;
}

.button-skills.third {
    top: 200px;
    width: 100%;
    left: 450px;
    max-width: 150px;
    align-items: center;
}

.button-skills.fourth {
    top: 250px;
    width: 100%;
    left: 230px;
    max-width: 150px;
    align-items: center;
}

.button-skills.fifth {
    top: -80px;
    width: 100%;
    left: 200px;
    max-width: 150px;
    align-items: center;
}

.experience {
    width: 100%;
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-inline: 20px;
}

.experience.education {
    padding-top: 150px;
}


.experience article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.experience article h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    font-weight: bold;
}

.experience-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.experience-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}

.experience-card-first {
    padding: 10px;
    padding-inline: 30px;
    background-color: rgba(4, 19, 14, .5);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 800px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.experience-card-first-title {
    display: flex;
    gap: 10px;
}

.experience-card-first-title b {
    color: var(--light);
    font-size: 1.1rem;
    font-weight: bold;
}

.experience-card-first-title p {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: bold;
}

.experience-card-first span {
    color: var(--light);
    font-size: 1.1rem;
    font-weight: bold;
    transform: rotate(90deg);
    cursor: pointer;
}

.experience-card-second {
    padding: 10px;
    padding-inline: 30px;
    background-color: rgba(4, 19, 14, .5);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 800px;
    align-items: start;
    justify-content: space-between;
    display: block;
    color: var(--light);
    /* height: 150px; */
}

.home-about_circle.is-header.experience-cirlce {
    z-index: 4;
    margin-bottom: 2rem;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 1450px;
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.125rem;
    height: 8.125rem;
}

.container-large {
    width: 100%;
    max-width: 82.5rem;
    margin-left: auto;
    margin-right: auto;
}

.footer_sm-wrapper {
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 999rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.footer_sm {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    color: #fff;
    border: 1px rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
    transition: all .2s;
    display: flex;
    position: relative;
    text-decoration: none;
}

.footer_sm.no-divider {
    border-right-style: none;
}

.spacing-block-xlarge {
    width: 100%;
    height: 4rem;
}


.footer_block {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}


.footer_block-left {
    grid-column-gap: 1.375rem;
    grid-row-gap: 1.375rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_email {
    color: var(--white);
    text-decoration: none;
}

.footer_email .mail {
    font-size: 1.1rem;
}

.footer_email {}


.footer_block-right {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    align-items: center;
    display: flex;
}

.footer_copy {
    color: rgba(255, 255, 255, .7);
    font-size: .875rem;
}

.footer_back-top {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    color: #fff;
    align-items: center;
    font-size: .875rem;
    transition: all .2s;
    display: none;
}

.footer_back-top-arrow {
    width: .8rem;
    height: .8rem;
}

.footer_logo {
    width: 9.5rem;
}

.contactMe {
    width: 100%;
    padding-bottom: 100px;
}

.contactMe article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letsTalk {
    font-size: 14rem;
    font-weight: 500;
    color: var(--white);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.svg-contact {
    width: 100%;
    max-width: 20px;
    fill: var(--white);

}

footer {}

footer article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

footer article a {
    padding: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(4, 19, 14, .5);
    border: 1px solid rgba(255, 255, 255, .1);
    color: var(--white);
    width: 100%;
    text-decoration: none;
}


@media only screen and (min-width:1200px) {
    .padding-global {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_sm-wrapper {
        flex-direction: row;
    }

    .footer_sm {
        border-right: 1px solid rgba(255, 255, 255, .2);
        border-bottom: none;
    }

    .nav_component {
        position: sticky;

    }

    .nav-bar .nav-bar-right {
        display: flex;
    }

    .home-header_gradient.bottom {

        top: 0%;
    }

    .home-header_gradient {
        top: -8%;
    }
}