@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg-color: #f0f0f0;
    --main-font-color: #131313;
    --secondary-font-color: #666;
    --font-family: "Roboto", sans-serif;
    --base-margin: 20px;
    --base-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
html,
body {

    overflow-x: hidden;

}

p{

    font-size: 1rem;

}


header {

    border-bottom: 1px solid var(--secondary-font-color);
    position: relative;
    width: 100%;
    z-index: 999999999;
    box-shadow: 1px 0.5px 7px var(--main-font-color);
    background-color: white;
    align-items: center;

}

.header {

    display: flex;
    justify-content: center;
    padding: 30px;
    padding-inline: 100px;
    align-items: center;

}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}



.header .header-name {

    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.4s;


}

.header .header-name:hover {

    animation: jump 0.9s ease-in-out infinite alternate;

}

.header .header-name span {

    font-family: var(--font-family);
    font-weight: bold;
    color: var(--main-font-color);
    font-size: 2rem;

}

.header .header-name p {

    font-family: var(--font-family);
    font-weight: bold;
    background-image: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;


}

.header .header-tags {

    display: none;
    gap: 50px;

}

.header .header-tags a {

    color: var(--main-font-color);
    font-family: var(--font-family);
    text-decoration: none;
    font-weight: bold;
    color: var(--main-font-color);
    transition: 0.4s ease-in-out;

}

.header .header-tags a:hover{

    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header .header-talk button {

    border: none;
    background-color: transparent;

}

.header .header-talk a {

    font-family: var(--font-family);
    color: var(--secondary-font-color);
    font-weight: bold;
    color: var(--main-font-color);
    border-radius: 20px;
    padding: 10px;
    padding-inline: 25px;
    border: 2px solid var(--secondary-font-color);
    cursor: pointer;
    background: transparent;
    transition: 0.4s ease-in-out;
    display: none;


}

.header .header-talk a:hover {

    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    border: 2px solid white;

}

section {

    padding: 20px;
    width: 100%;
    margin-top: 30px;


}




section article {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    row-gap: 70px;


}

.home article{

    flex-direction: column-reverse;

}



.home article .home-right {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 550px;

}

.home article .home-right .right-social {

    display: flex;
    gap: 25px;
    align-items: center;


}

.home article .home-right .right-social svg {

    max-width: 20px;
    color: #131313;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.home article .home-right .right-social svg:hover {

    transform: scale(1.2);

}

.home article .home-right .right-name {

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.home article .home-right .right-name .right-name-title {

    display: flex;
    align-items: start;
    gap: 10px;
    flex-direction: column;


}

.home article .home-right .right-name .right-name-title h1 {

    font-family: var(--font-family);
    font-weight: bold;
    color: var(--main-font-color);
    font-size: 3rem;
    z-index: 1;
    position: relative;


}

.home article .home-right .right-name .right-name-title span {


    font-family: var(--font-family);
    font-weight: bold;
    color: var(--main-font-color);
    font-size: 3rem;
    z-index: 1;
    position: relative;
    width: fit-content;

}

.home article .home-right .right-name .right-name-title span::before {

    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    width: 80%;
    height: 18%;
    opacity: 100%;
    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    z-index: -1;
    transform: translate(0%, -10%) skewX(0deg);

}




.home article .home-right p {

    font-family: var(--font-family);
    color: var(--secondary-font-color);
    font-size: 1rem;
    letter-spacing: 1.5px;
    line-height: 19px;

}

.home article .home-right .right-button {

    display: flex;
    gap: 30px;

}

.home article .home-right .right-button a:first-child {

    font-family: var(--font-family);
    border-radius: 20px;
    padding: 10px;
    padding-inline: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--main-font-color);
    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.home article .home-right .right-button a:first-child:hover {

    transform: scale(1.1);

}

.home article .home-right .right-button a:last-child {

    font-family: var(--font-family);
    color: var(--main-font-color);
    border-radius: 20px;
    padding: 10px;
    font-weight: 1000;
    padding-inline: 40px;
    background: white;
    border: 2px solid var(--secondary-font-color);
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease-in-out;

}

.home article .home-right .right-button a:last-child:hover {

    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    border: 2px solid white;

}

.home article .home-left {

    width: 100%;
    max-width: 450px;

}

@keyframes rotateBackAndForth {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(5deg);
    }
}


.home article .home-left img {

    width: 100%;
    max-width: 600px;
    transition: 0.5s ease-in-out;

}

.home article .home-left img:hover {

    animation: rotateBackAndForth 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate;


}



.about article {

    display: flex;
    align-items: flex-start;

}

.about img {

    width: 100%;
    max-width: 400px;
    box-shadow: 4px 4px 20px var(--main-font-color);

}

.about .about-right {

    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 450px;

}


.about .about-right h1 {

    font-family: var(--font-family);
    font-weight: bold;
    color: var(--main-font-color);
    font-size: 3rem;

}

.about .about-right p {

    font-family: var(--font-family);
    color: var(--main-font-color);
    font-size: 1rem;
}

.about .about-right a {

    font-family: var(--font-family);
    color: var(--main-font-color);
    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    width: 100%;
    max-width: 140px;
    padding: 10px;
    padding-inline: 25px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.4s ease-in-out;

}

.about .about-right a:hover {

    transform: scale(1.1);

}

.experience article {

    display: flex;
    width: 100%;

}

.experience article .experience-left {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 20px;

}

.experience article .experience-left .experience-title {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 20px;


}

.experience article .experience-left h1 {

    font-size: 2rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;

}


.experience article .experience-left .experience-title p {

    color: var(--secondary-font-color);
    font-family: var(--font-family);

}

.experience article .experience-left .experience-skills {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.experience article .experience-left h2 {

    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;

}

.experience article .experience-left .experience-skills-left {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    ;

}

.experience article .experience-left .experience-skills-right {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    ;

}


.experience article .experience-left .experience-skills .experience-skills-first {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;

}

.experience article .experience-left .experience-skills .experience-skills-first .skill {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

}

.experience article .experience-left .experience-skills .experience-skills-first .skill .skill-line {

    display: flex;
    gap: 70px;
    width: 100%;
    justify-content: space-between;

}

.experience article .experience-left .experience-skills .experience-skills-first .skill .skill-line p {


    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--secondary-font-color);
    font-weight: bold;


}

.experience article .experience-left .experience-skills .experience-skills-first .skill .skill-line span {

    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;

}

.experience article .experience-left .experience-skills .experience-skills-first .skill .skill-line-bar {

    background-color: #444444;
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.experience article .experience-left .experience-skills .experience-skills-first .skill .skill-line-bar span {

    position: absolute;
    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    top: 0;
    left: 0;
    height: 100%;
    width: var(--width);
}

.experience .experience-right {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;

}

.experience .experience-right:last-child {

    display: none;


}

.experience .experience-right-title {

    display: flex;
    align-items: center;
    cursor: pointer;

}

.experience .experience-right-main {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;


}

.experience .experience-right-title button {

    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid #c20192;
    background-color: transparent;
    cursor: pointer;

}

.experience .experience-right-title button:last-child {
 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}
.experience .experience-right-title button.active{

    color: white;
    
    background-color: #c20192;

}



.experience .experience-right .experience-right-first {

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.experience .experience-right .experience-right-first h2 {

    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;


}

.experience .experience-right .experience-right-first .experience-right-first-line {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.experience .experience-right .experience-right-first .experience-right-first-line .experience-right-first-line-job {

    display: flex;
    flex-direction: column;

}

.experience .experience-right .experience-right-first .experience-right-first-line .experience-right-first-line-job span {
    font-family: var(--font-family);
    color: var(--secondary-font-color);
    font-weight: bold;

}

.experience .experience-right .experience-right-first .experience-right-first-line .experience-right-first-line-job p {

    font-size: 1.2rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;

}



.experience .experience-right .experience-right-second {

    display: flex;
    flex-direction: column;

}

.experience .experience-right .experience-right-first {

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.experience .experience-right .experience-right-first h2 {

    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;


}

.experience .experience-right-second .experience-right-second-line {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.experience .experience-right-second .experience-right-second-line h2 {

    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;
}


.experience .experience-right-second .experience-right-second-line .experience-right-second-line-job {

    display: flex;
    flex-direction: column;

}

.experience .experience-right-second .experience-right-second-line .experience-right-second-line-job span {
    font-family: var(--font-family);
    color: var(--secondary-font-color);
    font-weight: bold;

}

.experience .experience-right-second .experience-right-second-line .experience-right-second-line-job p {

    font-size: 1.2rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;

}

.contact article {

    display: flex;
    width: 100%;

}

.contact article .contact-left {

    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 500px;

}

.contact article .contact-left .contact-left-title {

    font-size: 2rem;
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: 1000;

}

.contact article .contact-left .contact-left-p {

    font-family: var(--font-family);
    color: var(--secondary-font-color);
    font-size: 0.9rem;
    font-weight: bold;


}

.contact article .contact-left .contact-left-field {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.contact article .contact-left .contact-left-field .contact-left-field-line {

    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;

}

.contact article .contact-left .contact-left-field .contact-left-field-line span {

    font-family: var(--font-family);
    color: var(--secondary-font-color);
    font-size: 0.9rem;
    font-weight: 500;

}

.contact article .contact-left .contact-left-field .contact-left-field-line input {

    border: none;
    border-bottom: 1px solid var(--main-font-color);
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
    color: var(--main-font-color);
    transition: 0.4s ease-in-out;

}

.contact article .contact-left .contact-left-field .contact-left-field-line input:focus {

    border-bottom-color: #c20192;

}

.contact article .contact-left .contact-left-button {

    width: 90%;
    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    padding: 10px;
    text-align: center;
    color: var(--main-font-color);
    font-family: var(--font-family);
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border: none;
    border-radius: 20px;


}

.contact article .contact-left .contact-left-button span {

    transition: 0.4s ease-in-out;

}

.contact article .contact-left .contact-left-button:hover span {

    font-size: 1.2rem;


}

.contact article .contact-right {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    position: relative;


}

.contact article .contact-right .contact-right-card {

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    background-color: var(--main-font-color);

}

.contact article .contact-right .contact-right-card h2 {

    font-size: 1.5rem;
    font-family: var(--font-family);
    color: white;
    font-weight: bold;

}

.contact article .contact-right .contact-right-card .contact-right-card-line {

    display: grid;
    grid-template-columns: 30px 1fr;
    width: 100%;
    gap: 20px;
    align-items: center;
    text-decoration: none;

}


.contact article .contact-right .contact-right-card .contact-right-card-line svg {

    max-width: 35px;


}

.--svg-fill{

    fill: white;
    transition: 0.4s ease-in-out;

}

.--svg-stroke{

    stroke:#ffffff;
    transition: 0.4s ease-in-out;

}

.contact article .contact-right .contact-right-card .contact-right-card-line p {

    color: white;
    font-family: var(--font-family);
    font-size: 0.9rem;
    overflow-wrap: break-word;
    transition: 0.4s ease-in-out;

}

.contact article .contact-right .contact-right-card .contact-right-card-line:hover p{

        color: #c20192;

}

.contact article .contact-right .contact-right-card .contact-right-card-line:hover .--svg-fill{

 fill: #c20192;

}


.contact article .contact-right .contact-right-card .contact-right-card-line:hover .--svg-stroke{

    stroke: #c20192;
   
   }
   

.contact-right .contact-right-card .square {

    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);
    width: 50px;
    height: 50px;
    z-index: 1;
    position: absolute;
    top: -20px;
    left: -20px;

}

footer{

    width: 100%;
    background: linear-gradient(90deg, rgba(255, 114, 223, 1) 0%, rgba(255, 151, 70, 1) 48%, rgba(255, 200, 69, 1) 100%);

}

footer a{

    text-decoration: none;
    align-items: center;
}

footer a p{


    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: 1000;
    font-size: 0.9rem;
    text-align: center;
    padding: 5px;


}


@media only screen and (min-width: 1300px) {

    .header .header-tags {

        display: flex;

    }


    section article {

        display: flex;
        flex-direction: row;

    }

    .header .header-talk a {

        display: flex;

    }

    .header {


        justify-content: space-between;
    }

    header {


        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 1px 1px 1px var(--main-font-color);


    }

    .header .header-name span {

        font-size: 1.6rem;

    }

    .header .header-name p {

        font-size: 1.6rem;

    }


    section {

        padding: 100px
    }

    .home {

        padding: 150px;

    }

    .home article .home-right .right-name .right-name-title h1 {
        font-size: 4rem;
    }

    .home article .home-right .right-name .right-name-title span {

        font-size: 4rem;

    }

    .home article .home-right .right-name .right-name-title span::before {

        top: 60%;
        left: 0;
        width: 100%;
        height: 30%;

    }

    .home article .home-right p {

        line-height: 25px;
    
    }

    .home article{

        flex-direction: row;
    
    }

    .experience article .experience-left .experience-skills {


        flex-wrap: nowrap;
    
    }
}